<div class="main-content">
  <div *ngFor="let repo of repos$ | async">
    <div class="row">
      <span class="repo-name">{{repo.name}}</span>
    </div>
    <div class="row">
      <span class="repo-desc">{{repo.description}}</span>
    </div>
    <div class="row repo-stars">
      <div class="col-1 col-md-1" style="max-width: 24px; padding-left: unset;">
        <img src="assets/icons/staricon.png" class=".star-icon">
      </div>
      <div class="col-8 col-md-11">
        <p class="repo-desc repo-star">{{repo.stargazers_count}}</p>
      </div>
    </div>
  </div>
</div>